body{
    margin:0;
    font-family:Arial, sans-serif;
    background:#f5f7fa;
}

.hero{
    max-width:1000px;
    margin:auto;
    padding:100px 30px;
}

.hero h1{
    font-size:50px;
    color:#0f172a;
}

.hero h3{
    color:#475569;
    margin-top:10px;
}

.hero p{
    max-width:700px;
    line-height:1.8;
    font-size:18px;
}

.navbar{
    background:#0f172a;
    padding:15px;
}

.navbar a{
    color:white;
    text-decoration:none;
    margin-right:20px;
}
